/*Header Elements Style*/

.my-account {
    padding-left: 50px;
}



.black1 {
    color: #111;
}

.black1_bg {
    background-color: #141414 !important;
}

.black2 {
    color: #222;
}

.black2_bg {
    background-color: #222;
}

.bold1 {
    font-weight: 400;
}

.bold2 {
    font-weight: 500;
}

.bold3 {
    font-weight: 700;
}

.boxshadow {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7) !important;
    transition: transform 0.3s;
    border-radius: 20px;
}

.boxshadow:hover {
    -ms-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    border: 1px solid rgba(0,128,0,0.5) !important;
    border-radius: 20px;
}

.boxshadow2 {
    box-shadow: 0 2px 4px 0 rgba(20, 20, 20, 0.541), 0 3px 12px 0 rgba(0, 0, 0, 0.644) !important;
    transition: transform 0.3s;
}

.footer-bg {
    background-color: #101010;
}
.footer .text-white {
    color: #8c8c8c !important;
}

.footer-bg a,
.footer-bg {
    font-size: 1.0009rem;
}

.active {
    color: green !important;
}

.jumbotron {
    background-color: rgba(17, 17, 17, 0.965) !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}

.maintainHeight {
    overflow-y: auto;
    background-color: #111;
    color: rgb(221, 213, 213) !important;
}



.testimonials p {
    font-size:0.8rem;
}

.testimonial-content {
    text-transform: none !important;
    font-size:1rem !important;
}

/* Elements */